body{
    background-color: #233052;
}
a{
    text-decoration: none;
}
a,p,h2{
    color: white;
}
header nav ul li a{
    font-family: 'NanumMyeongjo';
    font-weight: 400;
    font-size: 24px;
}
header nav > ul li.active a{
    color: #d9c755;
}
.stars{
    transform:perspective(500px);
    transform-style:preserve-3d;
    position:fixed;
    bottom:0;
    perspective-origin:10% 80%;
    left:50%;
    animation:rotate 90s infinite linear;
  }
  .star{
    width:2px;
    height:2px;
    background:#fff;
    border-radius:-100%;
    position:absolute;
    top:0;
    left:0;
    transform-origin:0 0 -100px;
    transform:translate3d(0,0,-200px);
    backface-visibility:hidden;
  }
  @keyframes rotate{
    0%{
      transform:perspective(500px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    } 
    100%{
      transform:perspective(1000px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    } 
  }
@media screen and (min-width: 1280px){
    header{
        position: fixed;
        right: 30px;
        top: 0px;
    }
    header > nav > .mui{
        display: none;
    }
    header nav > ul{
        width: 20px;        
    }
    header nav > ul li{
        height: 20vh;
        /* margin-top: 35px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.mainArea{
        text-align: center;
    }
    section.mainArea > h1{
        margin: 50px 0 120px 0;
    }
    section.mainArea > h1 img{
        filter: drop-shadow(0 0 3px #d9c755);
    }
    /* section.mainArea > h1 img{
        box-shadow: 100px 100px 50px 50px #d9c755;
    } */
    section.mainArea h1 div.shadow{
      border: 1px 1px 1px 1px solid #d9c755;
    }
    section.mainArea div.overlay{
        width: 80%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50% ;
        filter:blur(200px);       
        top: 55%;
        left: 10%;
        position: absolute;     
    }
    section.mainArea > img{
        filter: drop-shadow(0 0 3px #fff);
    }
    /* main fin */

    article.subArea{
        /* background: url(../images/cdg_illust.png) no-repeat;
        height: 100vh; */
        text-align: center;
        padding-top: 120px;
    }
    article.subArea > img{
        width: 100%;
    }

    

    /* header nav > ul li:not(:last-of-type){
        
        margin-bottom: 100px;
    } */
}
