body{
    background-color: #233052;
}
a{
    text-decoration: none;
}
a,p,h2{
    color: white;
}
mark{
    color: #d9c755;
    font-style: normal;
    background-color: initial;
    font-family: 'NanumMyeongjo';
    font-weight: initial;
    display: block;
}
section.eventArea ul li > p{
    font-size: 14px;
    font-family: 'NanumMyeongjo';
    line-height: 36px;
    color: #000;
}
article.subArea p:first-of-type,
article.subArea h3 + p,
article.subArea ul li p,
section.slideArea ul li > p,
section.eventArea > p{
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    font-family: 'NanumMyeongjo';
}
article.subArea h2,
section.slideArea ul li > p mark{
    font-size: 24px;
    line-height: 36px;
}
header nav ul li a,
article.subArea h3{
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    font-size: 24px;
}
section.slideArea ul li h2,
section.eventArea h2{
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    font-size: 36px;
}
header nav > ul li.active a{
    color: #d9c755;
}
section.eventArea ul > h2{
    font-size: 30px;
    font-family: 700;
}
/* .stars{
    transform:perspective(500px);
    transform-style:preserve-3d;
    position:fixed;
    bottom:0;
    perspective-origin:10% 80%;
    left:50%;
    animation:rotate 90s infinite linear;
  }
  .star{
    width:2px;
    height:2px;
    background:#fff;
    border-radius:-100%;
    position:absolute;
    top:0;
    left:0;
    transform-origin:0 0 -100px;
    transform:translate3d(0,0,-200px);
    backface-visibility:hidden;
  }
  @keyframes rotate{
    0%{
      transform:perspective(500px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    } 
    100%{
      transform:perspective(100px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    } 
  } */
  
@media screen and (min-width: 1280px){
    /* @keyframes rotate{
        0%{
          transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        } 
        100%{
          transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        } 
    }
    .stars{
        transform:perspective(500px);
        transform-style:preserve-3d;
        position:absolute;
        bottom:0;
        perspective-origin:50% 100%;
        left:50%;
        animation:rotate 90s infinite linear;
      }
      .star{
        width:2px;
        height:2px;
        background:#F7F7B6;
        border-radius:100%;
        position:absolute;
        top:0;
        left:0;
        transform-origin:0 0 -300px;
        transform:translate3d(0,0,-300px);
        backface-visibility:hidden;
      } */
    header{
        position: fixed;
        right: 30px;
        top: 0px;
    }
    header > nav > .mui{
        display: none;
    }
    header nav > ul{
        writing-mode: vertical-rl;     
        display: flex; 
    }
    header nav > ul li{
        height: 20vh;
        /* margin-top: 35px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.mainArea{
        text-align: center;
    }
    section.mainArea > h1{
        margin: 50px 0 120px 0;
    }
    section.mainArea > h1 img{
        filter: drop-shadow(0 0 3px #d9c755);
    }
    /* section.mainArea > h1 img{
        box-shadow: 100px 100px 50px 50px #d9c755;
    } */
    section.mainArea h1 div.shadow{
      border: 1px 1px 1px 1px solid #d9c755;
    }
    section.mainArea div.overlay{
        width: 80%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50% ;
        filter:blur(200px);       
        top: 55%;
        left: 10%;
        position: absolute;     
    }
    section.mainArea > img{
        filter: drop-shadow(0 0 3px #fff);
    }
    /* main fin */

}
