section.slideArea ul li a.material-icons{
    position: absolute;
    top:50%
}



@media screen and (min-width: 1280px){
        article.subArea{
        height: 100vh;
        position: relative;
        padding: 120px;
    }
    article.subArea > *:not(ul){
        text-align: center;
        margin-bottom: 50px;
    }
    article.subArea::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/cdg_illust.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }
    /* subArea 배경이미지 생성  */
    
    article.subArea h2{
        width: 40%;
        margin: 0 auto 50px;
    }
    article.subArea h3{
        color: #fff;
    }
    article.subArea h3 + p{
        margin-bottom: 100px;
    }
    article.subArea ul{
        margin-left: 25%;
    }
    article.subArea ul li p{
        line-height: initial;
    }
    article.subArea ul li:not(:last-of-type){
        margin-bottom: 20px;
    }
    /* article fin */
    

    section.slideArea{
        width: 99vw;
        height: 100vh;
        overflow: hidden;
        /* box-sizing: border-box; */
        margin: 0 auto;
        position: relative;
    }
    section.slideArea ul{
        text-align: center;
        width: 300vw;
        position: absolute;
    }
    section.slideArea ul::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    section.slideArea ul li{
        width: 100vw;
        height: 100vh;
        float: left;
        position: relative;
        overflow: hidden;
    }
    section.slideArea ul li:first-of-type::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/slide_image_01.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
        filter: drop-shadow(0 0 3px white);
        overflow: hidden;
    }
    section.slideArea ul li:nth-of-type(2)::after{
        content: '';
        display: block;
        position: absolute;
        top: 5%;
        left: 0;
        background-image: url('../images/slide_image_02.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* transform: scale(1.2); */
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
        filter: drop-shadow(0 0 3px white);
    }
    section.slideArea ul li:last-of-type::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/slide_image_03.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
        filter: drop-shadow(0 0 3px white);
        overflow: hidden;
    }
    section.slideArea ul li:first-of-type a,
    section.slideArea ul li:nth-of-type(2) a:first-of-type{
        right: 10%;
        font-size: 48px;
    }
    section.slideArea ul li:nth-of-type(2) a:last-of-type,
    section.slideArea ul li:last-of-type a{
        left: 10%;
        font-size: 48px;
    }
    section.slideArea ul li h2{
        margin: 50px auto 20px;
    }
    section.slideArea ul li > p{
        width: 55%;
        margin: 0 auto;
    }

    section.slideArea ul li > p mark{
        margin-bottom: 50px;
    }
    section.slideArea ol{
        position: absolute;
        bottom: 0;
        left: calc(50% - 35px);
        display: inline-block;
    }
    section.slideArea ol li{
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        text-indent: -9999px;
        display: inline-block;
        opacity: 0.5;
        cursor: pointer;
    }
    
    section.slideArea ol li:not(:first-of-type){
        margin-left: 20px;
    }
    section.slideArea ol li.active{
        opacity: 1;
    }
    /* 슬라이드 영역 레이아웃 구현 끝 js로 position 값 조절하여 슬라이드 구현 예정 left값 0 ~ -200vw*/
    section


}